@font-face {
    font-family: 'PCSenior';
    src: url('./pc-senior/pcsenior.ttf')  format('truetype'); /* Safari, Android, iOS */
        
}
.red {
    border: 1px solid red;
}

.editorUI {
    display: flex;
}

.wrapGame {
    display: flex;
    flex-direction: column;
}
.editControls {
    padding-left: 40px;
}
.gameStats {
    font-family: PCSenior, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 48px;
    height: 50px;
    background: #000;
    position: relative;
    overflow: hidden;
    display: flex;
    color: #ffff40;
    &::before  {
        position: absolute;
        display: block;
        content: '';
        color: white;
        bottom: 1px;
        left: 0px;
        width: 1440px;
        height: 8px;
        background: #c0c040;
        background-repeat: repeat-x;
    }

    .statsCoins {
        left: 40px;
        width: 80px;
        height: 40px;
        position: relative;
        padding-left: 50px;

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 2px;
            left: 0px;
            width: 40px;
            height: 40px;
            background: url(../GameFieldUI/sprite.png);
            background-position: -480px -40px;
        }
    }

    .statsSteps {
        left: 40px;
        width: 80px;
        height: 40px;
        position: relative;
        padding-left: 44px;

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 0px;
            left: 0px;
            width: 40px;
            height: 40px;
            background: url(../GameFieldUI/sprite.png);
            background-position: -80px -0px;
        }
    }

    .statsLevel {
        left: 40px;
        width: 80px;
        height: 40px;
        position: relative;
        padding-left: 50px;

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 0px;
            left: 0px;
            width: 40px;
            height: 40px;
            background: url(./level.png);
        }

    }
}


.brick, :global(.brick) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(../GameFieldUI/sprite.png);
    background-position: -40px -120px;
}

.stairs, :global(.stairs) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(../GameFieldUI/sprite.png);
    background-position: -120px -120px;
}

.gold, :global(.gold) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(../GameFieldUI/sprite.png);
    background-position: -200px -120px;
}

.space, :global(.space) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(../GameFieldUI/sprite.png);
    background-position: 0px -120px;
}

.coin, :global(.coin) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: black url(../GameFieldUI/sprite.png);
    background-position: -480px -40px;
}

.wrapLoad {
    background: white;
}
.btLoad {
    cursor: pointer;
    width: 50px;
    height: 40px;
    overflow: hidden;
    border: 1px solid lightgrey;
    &::before {
        content: 'LOAD';
        display: block;
        width: 40px;
        height: 40px;
        left: 0px;
        top: 0px;
        opacity: 1;
    }
}

.save {
    cursor: pointer;
    height: 40px;
}

.inventory {
    input[type="radio"] {
        display: none;
    }

    .categories {
        margin: 30px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        font-family: PCSenior, Arial, Helvetica, sans-serif;

        label {
            display: block;
            border: 2px solid #fff;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 140%;
            position: relative;
            cursor: pointer;
            margin: 0px;

            &.cur {
                border: 2px solid #c0c040;
            }
        }
    }
    .brick, .stairs, .gold, .space {
        position: absolute;
        left: 0px;
        top: 0px;
    }
       
}
:global(.brick),  :global(.stairs),  :global(.gold),  :global(.space) {
    position: absolute;
    left: 0px;
    top: 0px;

}
